
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
.main[data-v-458292ac]{height:0;padding-bottom:60%!important}iframe[data-v-458292ac]{border:1px solid #ccc;position:absolute;width:calc(100% - 40px);height:calc(100% - 40px)}
