
/**
 * name: Fantastic-admin
 * homepage: https://hooray.gitee.io/fantastic-admin/
 */
    
.search-name[data-v-277e1816]{padding-top:10px;line-height:normal;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.search-address[data-v-277e1816]{font-size:12px;color:#b4b4b4;line-height:normal}.map[data-v-277e1816]{position:relative}.map[data-v-277e1816] .search{position:absolute;z-index:1;left:72px;top:15px}.map[data-v-277e1816] .search .el-input input{box-shadow:0 0 5px #999}
