
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
.sparkline[data-v-d474923e]{position:relative}.sparkline[data-v-d474923e] .sparkline--cursor{stroke:var(--d9da4a42)}.sparkline[data-v-d474923e] .sparkline--spot{fill:var(--4f904533);stroke:var(--4f904533)}.sparkline .tooltip[data-v-d474923e]{position:absolute;background:rgba(0,0,0,.7);color:#fff;padding:2px 5px;font-size:12px;white-space:nowrap;z-index:9999}
