
/**
 * name: Fantastic-admin
 * homepage: https://hooray.gitee.io/fantastic-admin/
 */
    
.sparkline[data-v-1b99e4de]{position:relative}.sparkline[data-v-1b99e4de] .sparkline--cursor{stroke:var(--5be9ad14)}.sparkline[data-v-1b99e4de] .sparkline--spot{fill:var(--70a94d8a);stroke:var(--70a94d8a)}.sparkline .tooltip[data-v-1b99e4de]{position:absolute;background:rgba(0,0,0,.7);color:#fff;padding:2px 5px;font-size:12px;white-space:nowrap;z-index:9999}
