
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
.sparkline[data-v-7e6173df]{position:relative}.sparkline[data-v-7e6173df] .sparkline--cursor{stroke:var(--18cd5520)}.sparkline[data-v-7e6173df] .sparkline--spot{fill:var(--24339ff8);stroke:var(--24339ff8)}.sparkline .tooltip[data-v-7e6173df]{position:absolute;background:rgba(0,0,0,.7);color:#fff;padding:2px 5px;font-size:12px;white-space:nowrap;z-index:9999}
