
/**
 * name: Fantastic-admin
 * homepage: https://hooray.gitee.io/fantastic-admin/
 */
    
.search-container[data-v-987c3476]{position:relative;margin:20px 0;padding:20px;background-color:#f7f8fa}.search-container[data-v-987c3476]:first-child{margin-top:0}.search-container[data-v-987c3476] .el-form{margin-bottom:-18px}.search-container[data-v-987c3476] .el-form .el-select{width:100%}.search-container[data-v-987c3476] .el-form .el-date-editor{width:100%}.search-container .more[data-v-987c3476]{text-align:center;margin-bottom:-10px}
